## Review configuration for QE-C related jobs on OSD

Instance = "https://openqa.suse.de"              # openQA instance to query
RabbitMQ = "amqps://suse:suse@rabbit.suse.de"    # RabbitMQ instance to query
RabbitMQTopic = "suse.openqa.job.done"           # RabbitMQ topic to query
HideStatus = ["scheduled", "passed", "softfailed", "cancelled", "skipped", "running", "uploading", "parallel_failed", "reviewed", "user_cancelled"]  # Hide jobs in defined states
RefreshInterval = 60                             # Refresh from API once every minute
MaxJobs = 20                                     # Max. job per group to display
GroupBy = "groups"                               # Group by defined groups ("none" or "groups")
RequestJobLimit = 100                            # Query up to 100 jobs per http request

## Create host disks ###########################################################

[[Groups]]
Name = "Create bootable host HDDs"
Params = { groupid = "377", build = "" }
MaxLifetime = 432000 # 5 days

[[Groups]]
Name = "Create publiccloud-tools HDD"
Params = { groupid = "276", build = "" }
MaxLifetime = 432000 # 5 days

## Container Maintenance updates ###############################################

[[Groups]]
Name = "Containers Maintenance Updates 15-SP7"
Params = { groupid = "417", build = "%yesterday%-1", version="15-SP7" }

[[Groups]]
Name = "Containers Maintenance Updates 15-SP6"
Params = { groupid = "417", build = "%yesterday%-1", version="15-SP6" }

[[Groups]]
Name = "Containers Maintenance Updates 15-SP5"
Params = { groupid = "417", build = "%yesterday%-1", version="15-SP5" }

[[Groups]]
Name = "Containers Maintenance Updates 15-SP4"
Params = { groupid = "417", build = "%yesterday%-1", version="15-SP4" }

[[Groups]]
Name = "Containers Maintenance Updates 15-SP3"
Params = { groupid = "417", build = "%yesterday%-1", version="15-SP3" }

[[Groups]]
Name = "Containers Maintenance Updates 15-SP2"
Params = { groupid = "417", build = "%yesterday%-1", version="15-SP2" }

[[Groups]]
Name = "Containers Maintenance Updates 12-SP5"
Params = { groupid = "417", build = "%yesterday%-1", version="12-SP5" }

## JeOS/MinimalVM Maintenance updates ##########################################

[[Groups]]
Name = "JeOS Maintenance Updates 15-SP7"
Params = { groupid = "419", build = "%yesterday%-1", version = "15-SP7" }

[[Groups]]
Name = "JeOS Maintenance Updates 15-SP6"
Params = { groupid = "419", build = "%yesterday%-1", version = "15-SP6" }

[[Groups]]
Name = "JeOS Maintenance Updates 15-SP5"
Params = { groupid = "419", build = "%yesterday%-1", version = "15-SP5" }

[[Groups]]
Name = "JeOS Maintenance Updates 15-SP4"
Params = { groupid = "419", build = "%yesterday%-1", version = "15-SP4" }

[[Groups]]
Name = "JeOS Maintenance Updates 15-SP3"
Params = { groupid = "419", build = "%yesterday%-1", version = "15-SP3" }

[[Groups]]
Name = "JeOS Maintenance Updates 12-SP5"
Params = { groupid = "419", build = "%yesterday%-1", version = "12-SP5" }


## PublicCloud Maintenance updates #############################################

[[Groups]]
Name = "PublicCloud Maintenance Updates 15-SP7"
Params = { groupid = "427", build = "%yesterday%-1", version="15-SP7" }

[[Groups]]
Name = "PublicCloud Maintenance Updates 15-SP6"
Params = { groupid = "427", build = "%yesterday%-1", version="15-SP6" }

[[Groups]]
Name = "PublicCloud Maintenance Updates 15-SP5"
Params = { groupid = "427", build = "%yesterday%-1", version="15-SP5" }

[[Groups]]
Name = "PublicCloud Maintenance Updates 15-SP4"
Params = { groupid = "427", build = "%yesterday%-1", version="15-SP4" }

[[Groups]]
Name = "PublicCloud Maintenance Updates 15-SP3"
Params = { groupid = "427", build = "%yesterday%-1", version="15-SP3" }

[[Groups]]
Name = "PublicCloud Maintenance Updates 12-SP5"
Params = { groupid = "427", build = "%yesterday%-1", version="12-SP5" }

[[Groups]]
Name = "Public Cloud Single Incidents"
Params = { groupid = "430" }
MaxLifetime = 1209600 # 2 weeks

## SLE Micro Maintenance updates ###############################################

[[Groups]]
Name = "SL Micro 6.0 Staging Updates for Containers"
Params = { groupid = "566" }
MaxLifetime = 432000 # 5 days

[[Groups]]
Name = "SL Micro 6.0 Product Updates for Containers"
Params = { groupid = "572" }
MaxLifetime = 432000 # 5 days

[[Groups]]
Name = "SL Micro 6.0 Product Increments Public Cloud"
Params = { groupid = "613", version="6.0" }
MaxLifetime = 432000 # 5 days

[[Groups]]
Name = "SL Micro 6.1 Product Increments Public Cloud"
Params = { groupid = "613", version="6.1" }
MaxLifetime = 432000 # 5 days

[[Groups]]
Name = "SLE Micro Maintenance Updates 5.5"
Params = { groupid = "420", build = "%yesterday%-1", version = "5.5" }

[[Groups]]
Name = "SLE Micro Maintenance Updates 5.4"
Params = { groupid = "420", build = "%yesterday%-1", version = "5.4" }

[[Groups]]
Name = "SLE Micro Maintenance Updates 5.3"
Params = { groupid = "420", build = "%yesterday%-1", version = "5.3" }

[[Groups]]
Name = "SLE Micro Maintenance Updates 5.2"
Params = { groupid = "420", build = "%yesterday%-1", version = "5.2" }

[[Groups]]
Name = "SLE Micro Maintenance Updates 5.1"
Params = { groupid = "420", build = "%yesterday%-1", version = "5.1" }

[[Groups]]
Name = "SLE Micro Maintenance Updates 5.5 Public Cloud"
Params = { groupid = "532", build = "%yesterday%-1", version = "5.5" }

[[Groups]]
Name = "SLE Micro Maintenance Updates 5.4  Public Cloud"
Params = { groupid = "532", build = "%yesterday%-1", version = "5.4" }

[[Groups]]
Name = "SLE Micro Maintenance Updates 5.3  Public Cloud"
Params = { groupid = "532", build = "%yesterday%-1", version = "5.3" }

[[Groups]]
Name = "SLE Micro Maintenance Updates 5.2  Public Cloud"
Params = { groupid = "532", build = "%yesterday%-1", version = "5.2" }

[[Groups]]
Name = "SLE Micro Maintenance Updates 5.1  Public Cloud"
Params = { groupid = "532", build = "%yesterday%-1", version = "5.1" }

## Single Incidents SLE Micro

[[Groups]]
Name = "SLE Micro Maintenance Incidents for 5.5"
Params = { groupid = "528" }
MaxLifetime = 432000 # 5 days

[[Groups]]
Name = "SLE Micro Maintenance Incidents for 5.4"
Params = { groupid = "486" }
MaxLifetime = 432000 # 5 days

[[Groups]]
Name = "SLE Micro Maintenance Incidents for 5.3"
Params = { groupid = "484" }
MaxLifetime = 432000 # 5 days

[[Groups]]
Name = "SLE Micro Maintenance Incidents for 5.2"
Params = { groupid = "483" }
MaxLifetime = 432000 # 5 days

[[Groups]]
Name = "SLE Micro Maintenance Incidents for 5.1"
Params = { groupid = "482" }
MaxLifetime = 432000 # 5 days


## SLE Micro image updates

[[Groups]]
Name = "SLE Micro Toolbox updates"
Params = { groupid = "451" }
MaxLifetime = 432000 # 5 days

[[Groups]]
Name = "SLE Micro for Rancher"
Params = { groupid = "449" }
MaxLifetime = 432000 # 5 days

## WSL builds ##################################################################

[[Groups]]
Name = "SLE 15-SP6 WSL"
Params = { groupid = "595" }
MaxLifetime = 432000 # 5 days

[[Groups]]
Name = "SLE 15-SP5 WSL"
Params = { groupid = "461" }
MaxLifetime = 432000 # 5 days

## Windows KVM Installation

[[Groups]]
Name = "Windows 11 installation"
Params = { version="11", groupid="287" }
MaxLifetime = 432000 # 5 days

[[Groups]]
Name = "Windows 10 installation"
Params = { version="10", groupid="287" }
MaxLifetime = 432000 # 5 days
